<div class="panel panel-default welcome-panel singUpPanel" style='text-align:center;'>
    <h1>Thesis Manager App</h1>
    <br/>
    <br/>
    <br/>
    <%= link_to "Sign up now!",  new_user_registration_path ,
                                class: "btn btn-large btn-primary addDocuments singUp" %>
  </div>