<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table class="users span6">
	<th style="text-align:left">Name</th>
	<th>Actions</th>
	<hr>
  	<%= render @users %>
</table>
<%= will_paginate %>
