<html>
	<head>
	</head>
	<body>
		Hello <%= @user.personal_information.name %>,
		<br/>
		<br/>
		Your registration to Thesis Application Manager is complete. 
		You can now login using your credentials.
		<br/>
		<br/>

		Have a great day,
		<br/>
		<b>Thesis Application Manager</b>
	</body>
</html>