$.ajax({
  type: 'GET',
  url: '/diploma_projects/retrieve_documentations',
  data: {},
  success: function(data) {
    var url, name, type, html_content, id, label, delete_url;
    label = "<span class='label label-info fileName'>Download</span>"
    $.each(data, function(index, value) {
      html = '';
      id = value.id;
      if (value.document_data.length > 0) {
        html_content = "<div class='col-md-12'><table class='table'>";
        html_content = html_content + "<th style='text-align:left; border-top:none;'>Type</th><th style='border-top:none;'>Name</th><th style='border-top:none;'>Download</th>"
        $.each(value.document_data, function(i, v) {
          url = v.download_url;
          name = v.document_name;
          delete_url = v.delete_url;
          type = identifyFileType(v.file_type);
          html_content = html_content + "<tr>" + "<td>" + type + "</td>";
          html_content = html_content + "<td class='fileName'>" + name.substr(1,6) + "..." + "</td>";  
          html_content = html_content + "<td> <a href=" + url + " class='fileName'>" + label + "</a></br>" + delete_url + "</td></tr>"
        })
        html_content = html_content + "</table></div>"
        $("#showDiplomaDetails_" + id).data('bs.popover').options.content = html_content;
        $("#showDiplomaDetails_" + id).popover('show');
      } else {
        html_content = 'There are no documents uploaded for this project.';
        $("#showDiplomaDetails_" + id).data('bs.popover').options.content = html_content;
        $("#showDiplomaDetails_" + id).popover('show');
      }  
    })
    
  }
});