.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 30px;
}

.uploadBtn {
	padding-top: 40px;
	padding-bottom: 5px;
}

.navbar-fixed-top {
	background-color: #daeeff;
}


.navbar-inverse .navbar-inner {
    background-image: linear-gradient(to bottom, #daeeff, #daeeff);
    border-color: #daeeff;
}

.dhtmlXTooltip.tooltip{
   opacity: 1;
}

.navbar-inverse {
    border-color: #daeeff;
}
.fa-2 {
    font-size:2em;
}

.fa-1 {
    font-size:1.5em;
    color: red;
    cursor: pointer;
}

.error { 
color: red;
}

.fa-lg {
    padding-top: 10px;
}

body {
    background-color: #957bbe;
}

.container {
    width: 1290px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.bs-example > .btn, .bs-example > .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-info, .btn-info:hover, .btn-info:focus {
    background-color: #fae3c4;
    color: black;
}

.fileName {
    font-size: 0.8em;
}

.welcome-panel, .hero-unit {
    background-color: #fae3c4;
    color: black;
}

.informationPanel {
    background-color: #daeeff;
}
.addDocuments, .addDocuments:hover, .addDocuments:focus {
    background-color: #957bbe;
}

h2 {
    margin-bottom: 0px;
}

.customClearfix { 
    height: 55px;
}

.header {
    display: inline-block;
    float: left;
}

.viewDetails {
    cursor: pointer;
}

.calendar-panel {
    background-color: #f5f5f5;
}

.singUpPanel {
    height: 200px;
}

.dataTable > thead > tr > th[class*="noSort"]:after{
    content: "" !important;
}

.dataTable tbody td {
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fa { padding-left: 3px; padding-right: 3px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fae3c4;
}

.navButton {
    pointer-events:none;
}

.fileType {
    padding-left: 16px;

}