<html>
	<head>
	</head>
	<body>
		Hello <%= @student.name %>,
		<br/>
		<br/>
		Your enrollment request for <b><%= @diploma.name %></b> proposed by <b><i><%= @teacher.name %></i></b> has been <b>Accepted</b>.
		<br/>
		<br/>

		Have a great day,
		<br/>
		<b>Thesis Application Manager</b>
	</body>
</html>