<html>
	<head>
	</head>
	<body>
		Hello <%= @student.name %>,
		<br/>
		<br/>
		We are sorry to announce you that your request for <b><%= @diploma.name %></b> proposed by <b><i><%= @teacher.name %></i></b> has been <b>Declined</b>.
		<br/>
		<br/>

		Don't give up,
		<br/>
		<b>Thesis Application Manager</b>
	</body>
</html>