<html>
	<head>
	</head>
	<body>
		Hello <%= @student.name %>,
		<br/>
		<br/>
		Given the fact that your enrollment for <b><%= @student.diploma_project.name %></b> has been accepted, your other enrollment requests have been canceled.
		<br/>
		<br/>

		Have a great day,
		<br/>
		<b>Thesis Application Manager</b>
	</body>
</html>